

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Welcome to my Angular App!</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <ul class="list-group">
        <li class="list-group-item">First item</li>
        <li class="list-group-item">Second item</li>
        <li class="list-group-item">Third item</li>
      </ul>
    </div>

    <div class="col-md-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>  

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 align="center">Copyright @ 2024</h3>
      </div>
    </div>
</div>

